:root {
    --white: #FFF;
    --black: #182327;
    --pink: #FFE9F4;
    --pinkBorder: #FFDDEE;
    --green: #F8FFE3;
    --borderGreen: #E5F2C0;
    --yellow: #FFFBD6;
    --borderYellow: #F4F0C2;
    --lightOrange: #FFEFE3;
    --borderLightOrange: #FADFCB;
    --lightBlue: #DDF6FF;
    --borderLightBlue: #C6EAF8;
    --blueGreen: #E3FFF3;
    --lightBlueGreen: #EAFFFC;
    --borderLightBlueGreen: #CAF5E3;
    --bgBlue: #80E2FF;
    --golden: #ffd26ad0;
    --footerBg: #FFF7E3;
    --textSecondary: #5D696D;
    --inputBorder: #D8E0E2;
    --lightGreen: #EAFFFC;
    --blueBorder: #33D1FF;
    --pcContentPadding: 6vw;
    --mobileContentPadding: 2vw;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style-type: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

/* Fonts */

@font-face {
    font-family: Manrope;
    src: url('../fonts/Manrope-Regular.ttf');
}

@font-face {
    font-family: Sentient;
    src: url('../fonts/Sentient-Regular.otf');
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Regular.ttf');
}



.button {
    border-radius: 8px;
    padding: 12px 24px;
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
    font-family: Manrope;
    text-wrap: nowrap;
}

.button:hover {
    opacity: 0.9;
    box-shadow: 1px 1px #fbfbfb;
}


#container {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    /* max-width: 1440px; */
}

#header {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-family: Manrope;
    font-size: 1.6rem;
    color: var(--black);
    font-weight: 400;
    line-height: 28px;
    background-color: var(--white);
    position: relative;
    padding: 0 var(--pcContentPadding);
}

.logo img {
    width: 40px;
    height: 38px;
}

.mobileNav {
    user-select: none;
    display: none;
    cursor: pointer;
}

.mobileNav:hover {
    opacity: 0.7;
}

.headerNav {
    width: 100%;
    display: flex;
    align-items: center;
    transition: height linear 0.3s;
}

.navBar {
    display: flex;
    flex: 1;

}

.navBarItem {
    margin: 42px 20px;
    text-wrap: nowrap;
}

.navBarItem:hover {
    text-decoration: underline;
    font-weight: 800;
}

.searchBox {
    max-width: 350px;
    border: 1px solid var(--inputBorder);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 13px 14px;
    flex: 1;
    overflow: hidden;
}

.searchBox input {
    border: none;
    flex: 1;
    font-size: 1.4rem;
    color: var(--textSecondary);
    line-height: 24px;
    margin-left: 10px;
}

.searchBox input:focus-within {
    border: none;
    outline: none;
}


.accountBox {
    display: flex;
    align-items: center;
}

.accountBox .avatar {
    margin: 0 20px;
    cursor: pointer;
}

.avatar:hover {
    opacity: 0.8;
}

.accountBox .button {
    font-size: 1.6rem;
    line-height: 26px;
}

#body {}

#body section {
    padding-bottom: 150px;
}

.banner {
    width: 100%;
    min-height: 622px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 var(--pcContentPadding);
    background:
        linear-gradient(180deg, #02B5EA 0%,
            rgba(2, 181, 234, 0.15) 100%);

}


.banner .textBox {
    width: 50%;
}

.textBox h1 {
    color: var(--black);
    font-family: Sentient;
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 20px;
    max-width: 570px;
    position: relative;
}

/* .textBox h1::after {
    content: "";
    width: 73px;height: 54px;
    background: url('/images/customer1.png');
    position: absolute;
    bottom: 0;  
    right: 0;
} */


.textBox p {
    font-family: Manrope;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: var(--black);
    margin-bottom: 40px;
}

.textBox .button {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.imageBox {
    width: 50%;
    position: relative;
    overflow: hidden;
    right: -6vw;
}

.imageBox .productLayer {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

.productLayer::before {
    position: absolute;
    content: "";
    display: block;
    width: 200px;
    height: 140px;
    background: url('/images/bannerEffect1.png') no-repeat;
    background-size: contain;
    object-fit: cover;
    right: -78px;
    top: 10%;
    transform: rotate(75deg);
    opacity: 0.8;
}

.productLayer::after {
    position: absolute;
    content: "";
    display: block;
    width: 200px;
    height: 150px;
    background: url('/images/bannerEffect2.png') no-repeat;
    background-size: cover;
    object-fit: cover;
    left: 0;
    top: 42%;
    transform: rotate(30deg);
    opacity: 0.9;
    z-index: -1;
}

.imageBox .product {
    width: 100%;
    position: relative;
}

.imageBox .product img {
    width: 100%;
    position: relative;
}

.product::after {
    position: absolute;
    content: "";
    display: block;
    width: 126px;
    height: 72px;
    background: url('/images/bannerEffect3.png') no-repeat;
    background-size: contain;
    transform: scale(1.6);
    left: 22%;
    top: 15%;
    z-index: 10;
}

.product::before {
    position: absolute;
    content: "";
    display: block;
    width: 120px;
    height: 54px;
    background: url('/images/bannerEffect4.png') no-repeat;
    background-size: contain;
    transform: scale(1);
    right: 15%;
    top: 70%;
    z-index: 10;
}

.banner::after {
    position: absolute;
    content: "";
    display: block;
    background: url('/images/blueUnionPC.svg') no-repeat;
    background-size: contain;
    transform: scale(1);
    right: -110px;
    top: 0;
    height: 100%;
    width: 50vw;
    z-index: 10;
}

.banner::before {
    position: absolute;
    content: "";
    display: block;
    background: url('/images/blueUnion.png') no-repeat;
    background-size: contain;
    transform: scale(1);
    right: -110px;
    top: 0;
    height: 100%;
    width: 50vw;
    z-index: 10;
    display: none;
}

.productionSection {
    padding: var(--pcContentPadding);
}

.productionSection .productHeader {
    font-family: Sentient;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    width: 50%;
    margin-bottom: 150px;
}

.productionSection .productBody {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 80px;
}

.productBody .wrapper {
    background-color: var(--pink);
}

.productBody .wrapper .circle-inner {
    border: 18px solid var(--pinkBorder);
}

.productionSection .productBody::after {
    position: absolute;
    content: '';
    background-image: url('/images/potatoChips.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: -145px;
    right: -150px;
    width: 333px;
    height: 145px;
}

.productBody .productImage {
    width: 50%;
    max-width: 570px;
    /* background-color: var(--pink); */
    position: relative;
    height: 458px;
}

.productBody .productImage .productMain {
    width: 60%;
    height: 484px;
    position: relative;
    left: 50%;
    top: -90px;
    transform: translate(-50%, 0);
    z-index: 5;
}

.productBody .productImage .productMain::after {
    position: absolute;
    content: '';
    background-image: url('/images/ProductionEffect1.png');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-25deg);
    top: 240px;
    left: -25px;
    width: 40%;
    height: 145px;
}

.productBody .productImage .productMain .product {
    position: absolute;
    z-index: 5;
    top: 0;
    object-fit: contain;
    bottom: 0;
    width: 100%;
    height: 100%;
}


.productBody .productDescription {
    width: 50%;
    margin: 40px 0px 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.productDescription h3 {
    font-family: Sentient;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    color: var(--black);
    margin-bottom: 20px;
}



.productDescription .rating {
    display: block;
    margin-bottom: 15px;

}


.productDescription .label {
    color: var(--textSecondary);
    font-family: Manrope;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 10px;
}

.productDescription .price {
    font-family: Manrope;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    color: var(--black);
    margin-bottom: 15px;
}

.productDescription .textDescription {
    font-family: Manrope;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: var(--textSecondary);
    margin-bottom: 40px;
}

.buttonGroup .button {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.buttonGroup .button.noFill {
    background-color: transparent;
    color: var(--black);
}

.buttonGroup .button.noFill:hover {
    text-decoration: underline;
}

.productList {
    padding: 0 var(--pcContentPadding);
}

.productList .productListHeader {
    text-align: center;
}

.productListHeader h2 {
    color: var(--black);
    text-align: center;
    font-family: Sentient;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}

.productListHeader p {
    color: var(--textSecondary);
    text-align: center;
    font-family: Manrope;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.productListBody {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.productItem {
    display: flex;
    flex-direction: column;
    width: 33.3333%;
    padding: 0 10px;
    margin-top: 130px;
}

.productItem .itemImg {
    width: 100%;
    aspect-ratio: 1.1212;
    position: relative;
    margin: 0 auto;
}

.productItem .itemImg::after {
    position: absolute;
    content: '';
    width: 54px;
    height: 54px;
    background-image: url('/images/addCartIcon.svg');
    background-repeat: no-repeat;
    transform: scale(1.5);
    background-size: cover;
    bottom: -34px;
    right: 6%;
    cursor: pointer;
}

.productItem .itemImg::after:hover{
    opacity: 0.8;
}


.productItem .itemImg .product {
    position: absolute;
    z-index: 2;
    width: 60%;
    height: 330px;
    object-fit: contain;
    left: 50%;
    transform: translate(-50%, 0);
    top: -60px;
}


.item1 .wrapper {
    background-color: var(--green);
}

.item1 .wrapper .circle-inner {
    border: 18px solid var(--borderGreen);
}

.item2 .wrapper {
    background-color: var(--pink);
}

.item2 .wrapper .circle-inner {
    border: 18px solid var(--pinkBorder);
}

.item3 .wrapper {
    background-color: var(--yellow);
}

.item3 .wrapper .circle-inner {
    border: 18px solid var(--borderYellow);
}

.item4 .wrapper {
    background-color: var(--lightOrange);
}

.item4 .wrapper .circle-inner {
    border: 18px solid var(--borderLightOrange);
}

.item5 .wrapper {
    background-color: var(--lightBlue);
}

.item5 .wrapper .circle-inner {
    border: 18px solid var(--borderLightBlue);
}

.item6 .wrapper {
    background-color: var(--lightBlueGreen);
}

.item6 .wrapper .circle-inner {
    border: 18px solid var(--borderLightBlueGreen);
}

.productItem .itemInfo {
    margin-top: 20px;
    width: 370px;
    margin: 20px auto 0;
}

.itemInfo .price {
    color: var(--black);
    font-family: Manrope;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 15px;

}

.itemInfo .name {
    color: var(--textSecondary);
    font-family: Manrope;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 15px;

}

.itemInfo img {
    margin-bottom: 20px;
}

.listBtn {
    width: 100%;
    text-align: center;
    margin-top: 70px;
}

.listBtn .button {
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}

.productVideos {
    margin: 0 0;
    padding: 0 var(--pcContentPadding);
    display: flex;
}

.productVideos .videoComponent1,
.productVideos .videoComponent2 {
    width: 50%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

.videoComponent1 .videosThumbnail {
    background-color: var(--lightGreen);
    width: 100%;
    aspect-ratio: 1.1776;
    position: relative;
    margin: 66px auto 0;
    border-radius: 16px;
}

.videoComponent1 .videosThumbnail .thumbnailLayer {
    position: relative;
    width: 324px;
    height: 484px;
    left: calc(50%);
    transform: translate(-50%, 0);
    top: -85px;
    object-fit: contain;
    z-index: 2;
}

.videoComponent1 .videosThumbnail .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.videoComponent1 .videosThumbnail .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.productVideos .videoComponent2 h2 {
    font-family: Sentient;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    color: var(--black);
}

.videoComponent2 .videosThumbnail {
    background-color: var(--pink);
    min-height: 384px;
    width: 100%;
    aspect-ratio: 1.4843;
    position: relative;
    margin-top: 206px;
    border-radius: 16px;
    /* width: 570px; */
    /* height: 384px; */
}

.videoComponent2 .videosThumbnail .thumbnailLayer {
    width: 292.881px;
    height: 384px;
    position: relative;
    left: calc(50%);
    transform: translate(-50%, 0);
    top: -85px;
    object-fit: contain;
    z-index: 2;
}

.videoComponent2 .videosThumbnail .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.videoTitle {
    margin-top: 20px;
}

.videoTitle h3 {
    font-family: Manrope;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: var(--black);
    margin-bottom: 20px;
}

.videoTitle .videoBtn {
    display: flex;
    justify-content: left  ;
    align-items: center;
}

.videoTitle .videoBtn .playbtn {
    width: 20px;
    cursor: pointer;
    height: 20px;
}

.videoTitle .videoBtn .btnLabel {
    font-family: Manrope;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
    padding-left: 10px;
}

.videoComponent1 .wrapper {
    background-color: var(--lightBlueGreen);
}

.videoComponent1 .wrapper .circle-inner {
    border: 18px solid #D3F5F0;
}

.videoComponent2 .wrapper {
    background-color: var(--pink);
}

.videoComponent2 .wrapper .circle-inner {
    border: 18px solid var(--pinkBorder);
}


.customerFeedback {
    padding:0 var(--pcContentPadding);
    background-color: var(--bgBlue);
    min-height: 752px;
    position: relative;
    width: 100%;
}

.customerFeedback .feedback {
    display: flex;
    padding-top: 200px;
    width: 100%;
}

.feedback .feedbackContent {
    width: 50%;
}

.feedback .feedbackContent h2 {
    font-family: Sentient;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    color: var(--black);
    margin-bottom: 60px;
}

.feedback .feedbackContent p{
    font-family: Inter;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    color: var(--black);
    line-height: 36px;
    margin-bottom: 80px;
    max-height: 180px;
}
 .feedbackContent .customerInfo h3{
    margin-top: 20px;
    font-family: Manrope;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    color: var(--black);
    line-height: 32px;
    padding-top: 30px;
    margin-bottom: 10px;
    border-top: 3px solid var(--blueBorder);
}
 .feedbackContent .customerInfo p{
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--black);
    line-height: 28px;
}

.feedback .customerImg {
    margin: 0 auto;
    width: 470px;
    height: 470px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: var(--golden);
    position: relative;
}


.feedback .customerImg .customer {
    position: absolute;
    width: 460px;
    height: 580px;
    object-fit: cover;
    z-index: 10;
    bottom: 0;
    left: calc(50% - 235px) ;
}

.feedback .customerImg .background {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
}

.slideControl {
    position: absolute;
    top: 600px;
    left: calc(50% - 124px);
}

.slideControl button {
    cursor: pointer;
    margin: 0 10px;
}

.feedback.d-none {
    display: none;
}

.owl-theme .owl-nav {
    width: 120px;
    position: relative;
    top: -165px;
    left: calc(50% - 120px);
    background-color: transparent;
}

.owl-carousel .owl-nav button.owl-next:hover {
    background-color: transparent;
} 

.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: transparent;
}

#nextSlideBtn ,#preSlideBtn{
    cursor: pointer;
    background-color: transparent;
}

.callToAction {
    margin-top: -150px;
    width: 100%;
    height: 468px;
    background-color: var(--golden);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.callToAction::after {
    position: absolute;
    content: '';
    top: -90px;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    background-image: url('/images/potatoChips.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.callToAction h2{
    font-family: Sentient;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    color: var(--black);
    text-align: center;
    margin-bottom: 30px;
    max-width: 470px
}

.callToAction p{
    color: var(--black);
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    max-width: 470px
}

.callToAction .button {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}


#footer {
    display: flex;
    align-items: center;
    margin-top: -150px;
    padding: 60px var(--pcContentPadding) 20px;
    background-color: var(--footerBg);
}

.footerInfo {
    width: 50%;
}

.footerImages {
    width: 50%;
    margin: 0 auto;
}

.footerInfo .logo {
    width: 40px;
    height: 38px;
    margin: 20px 0;
}

.footerInfo .logo img {
    width: 100%;
}

.footerNav {
    display: flex;
    font-weight: 400;
    font-size: 1.6rem;
    font-family: Manrope;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
}
.footerNav .navBarItem {
    text-align: left;
    margin: 0;padding: 0;
    margin-right: 42px;
}

.footerInfo h4 {
    margin-bottom: 20px;
    font-family: Manrope;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    color: var(--black);
}

.footerInfo p {
    margin-bottom: 20px;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    color: var(--black);
}

.footerInfo .socialMedia img {
    margin-right: 16px;
    margin-top: 16px; 
    margin-bottom: 24px;
    cursor: pointer;
} 

.footerImages {
    position: relative;
    width:50%;
    aspect-ratio: 1.1776;
    border-radius: 12px;
}

.footerImages::before {
    content: '';
    position:absolute;
    background-image: url('/images/ketchupEffect.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;
    height: 100px;
    top: 0;right: 0;
    z-index: 10 ;

}
.footerImages::after {
    content: '';
    position:absolute;
    background-image: url('/images/bannerEffect1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-100%);
    z-index: 10 ;
}

.productImgs {
    position: relative;
    width: 100%;
    height: 100%;
}

.productImgs::after {
    content: '';
    position:absolute;
    background-image: url('/images/potatoChips.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
    top: 85px;
    left: 40%;
    transform: translateX(-100%);
    z-index: 2 ;
}

.productImgs .product1 {
    position: absolute;
    width: 50%;
    z-index: 20;
    bottom: 0px;
    transform: translateX(-30%) scale(0.95);
    left: 45%;
}

.productImgs .product2 {
    position: absolute;
    width: 50%;
    z-index: 8;
    bottom: 85px;
    transform: translateX(-30%) scale(1.1) rotate(45deg);
    left: 50%;
}

.productImgs .product3 {
    position: absolute;
    width: 50%;
    z-index: 5;
    bottom: 20px;
    transform: translateX(-30%) scale(0.8) rotate(-45deg);
    left: 30%;
}



.footerImages .wrapper {
    background-color: var(--lightBlue);
}

.footerImages .wrapper .circle-inner {
    border: 18px solid var(--borderLightBlue);
}


.productVideosMobile {
    display: none;
}

/* ///////////// Responsive ////////////////// */
/* Mobile */
@media only screen and (max-width: 768px) {
    #container {
        margin: 0 auto;
        padding: 0 0;
    }

    .mobileNav {
        display: block;
    }

    .headerNav {
        position: fixed;
        top: 46px;
        height: 0vh;
        right: 0;
        left: 0;
        background-color: var(--white);
        flex-direction: column;
        justify-content: left;
        width: 100%;
        overflow: hidden;
        z-index: 1000;
        background-color: var(--white);
        /* display: none; */
    }

    .headerNav.open {
        height: 100vh;
        /* display: block; */
    }

    .navBar {
        flex-direction: column;
        flex: 0;
    }

    .navBarItem {
        margin: 0;
        padding: 10px;
        text-align: center;
    }

    .searchBox {
        width: 100%;
        max-height: 52px;
        margin-bottom: 20px;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 0 var(--mobileContentPadding);
        justify-content: center;
        align-items:unset ;
    }

    .banner .textBox {
        width: 100%;
        margin-top: 150px;
        padding-bottom: 50px;
    }

    .banner .imageBox {
        width: 100%;
        margin: 50px auto;
        right: 0;
    }

    .productImage .productLayer {
        transform: scale(0.8);
    }

    .banner::after {
        display: none;
    }

    .banner::before {
        display: block; 
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
    }

    .textBox h1 {
        font-size: 4rem;
    }
    .textBox p {
        font-size: 1.4rem;
    }
    .productionSection {
        padding: 0 var(--mobileContentPadding);
    }
    .productionSection .productHeader {
        width: 100%;
        font-size: 26px;
        margin-bottom: 50px;
    }
    .productionSection .productBody::after {
        transform: scale(0.6);
    }
    .productionSection .productBody {
        display: flex;
        flex-direction: column;
    }
    .productBody .productImage  {
        width: 100%;
        margin: 0 auto;
    }
    .productBody .productDescription {
        width: 100%;
        margin: 20px auto;
        max-width: 760px;
    }

    .productList {
        padding: 0 var(--mobileContentPadding);
    }

    .productItem {
        width: 100%;
    }
    .productItem .itemInfo {
        margin: 20px 0 0;
    }

    .productVideos {
        display: none;
    }
    .productVideosMobile {
        display: block;
        padding: 0 var(--mobileContentPadding);
    }

    .productVideosMobile h2 {
        color: var(--black);
        font-family: Sentient;
        font-size: 2.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3rem;
        margin-bottom: 100px;
    }
    
    #videoSlider .video2 .wrapper {
        background-color: var(--pink);
    }

    #videoSlider .video2  .wrapper .circle-inner {
        border: 18px solid var(--pinkBorder);
    }
    .customerFeedback {
        padding: 0 var(--mobileContentPadding);
    }
    .customerFeedback .feedback {
        flex-direction: column-reverse;
        padding: 100px 0 20px;
        width: 100%;
    }

    .feedback .customerImg {
        margin: 0 auto;
        width: 100%;
        height: 470px;
    }

    .feedback .feedbackContent {
        width: 100%;
        margin-top: 20px;
    }

    .feedback .feedbackContent h2 {
        font-size: 2.6rem;
        line-height: 3rem;
        margin-bottom: 28px;
    }
    
    .feedback .feedbackContent p {
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin-bottom: 28px;
    }
    .owl-theme .owl-nav {
        width: 120px;
        position: relative;
        top: unset;
        left: -1vw;
        bottom:55px ;
        background-color: transparent;
    }

    #footer {
        flex-direction: column-reverse;
        padding: 30px var(--mobileContentPadding);
    }
    .footerImages {
        padding: 30px 0;
        position: relative;
        width: 100%;
        aspect-ratio: 1.1776;
        border-radius: 12px;
    }
    .footerInfo {
        width: 100%;
    }

    .productImgs::after {
        left: 50%;
    }
    .footerImages::after {
        left: 55%;
        z-index: 4;
    }

    .footerNav {
       flex-direction: column;
    }

    .footerNav .navBarItem{
        margin: 10px 0;
    }

    
}

/* Tablet */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .searchBox {
        border-color: transparent;
        overflow: unset;
    }

    .searchBox input {
        display: none;
    }

    .searchBox img {
        margin: 0 10px;
    }

    .productList {
        padding: 0 var(--mobileContentPadding);
    }

    .productItem {
        width: 50%;
    }
    .productItem .itemInfo {
        margin: 20px 0 0;
    }

    .productVideos {
        width: 100%;
    }

    .productVideos .videoComponent1, .productVideos .videoComponent2 {
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-start;
        flex: 1;
    }

    .feedback .customerImg {
        margin: 0 auto;
        width: 50%;
        aspect-ratio: 1;
        padding: 0 20px;
    }

    .feedback .customerImg .customer {
        position: absolute;
        width: 100%;
        object-fit: cover;
        z-index: 10;
        bottom: 0;
        left: calc(50%);
        transform: translateX(-50%) ;
    }

    .feedback .feedbackContent {
        width: 50%;
        padding: 0 20px;
    }

    .footerImages {
        position: relative;
        width: 30%;
        aspect-ratio: 1.1776;
        border-radius: 12px;
        
    }
    .footerInfo {
        width: 70%;
    }

    .productImgs::after {
        content: '';
        position: absolute;
        background-image: url(/images/potatoChips.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 250px;
        height: 200px;
        top: -25px;
        left: 72%;
        transform: translateX(-100%) scale(0.6);
        z-index: 2;
    }

    .footerImages::after {
        content: '';
        position: absolute;
        background-image: url(/images/bannerEffect1.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 250px;
        height: 200px;
        bottom: -20px;
        left: 80%;
        transform: translateX(-100%) scale(0.6);
        z-index: 10;
    }
    .productImgs .product1 {
        position: absolute;
        width: 50%;
        z-index: 20;
        bottom: 0px;
        transform: translateX(-30%) scale(0.9);
        left: 45%;
    }

    .productImgs .product2 {
        position: absolute;
        width: 50%;
        z-index: 8;
        bottom: 45px;
        transform: translateX(-30%) scale(0.9) rotate(45deg);
        left: 50%;
    }
    .productImgs .product3 {
        position: absolute;
        width: 50%;
        z-index: 5;
        bottom: 20px;
        transform: translateX(-30%) scale(0.7) rotate(-45deg);
        left: 30%;
    }
}

/* PC */
@media only screen and (min-width: 992px) {
    #container {
        /* padding:0 6vw ; */
    }
}

/* Oversize */



/* /// Circle */
.wrapper {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    top: 0;
}

.wrapper>div {
    border-radius: 50%;
    display: inline-block;
    background-color: transparent;
}

.position-center {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.circle-inner:nth-child(1) {
    width: 20%;
    aspect-ratio: 1;
    position: absolute;
}

.circle-inner:nth-child(2) {
    width: 40%;
    aspect-ratio: 1;
    position: absolute;
}

.circle-inner:nth-child(3) {
    width: 60%;
    aspect-ratio: 1;
    position: absolute;
}

.circle-inner:nth-child(4) {
    width: 80%;
    aspect-ratio: 1;
    position: absolute;
}

.circle-inner:nth-child(5) {
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
}

.owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 8px;
    margin: 5px;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: var(--black);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--black);
}